# Resume NER
## Extract Information from Resumes using NER (Named Entity Recognition)

### Part 1 - Data Exploration and preprocessing
In this first part of the challenge, we will load and examine the dataset we will be working with. We will also prepare the data for training which we will start in the second part of the challenge. You will be required to program some basic python pertaining to file loading, data conversion, and basic dictionaries and array manipulation. If you are experienced with Python, this will be easy. If you are new to python and/or programming, it will be a good opportunity to learn some basic programming you will need for data loading and exploration.

* *If you need help setting up python or running this notebook, please get help from the  assistants to the professor*
* *It might be helpful to try your code out first in a python ide like pycharm before copying it an running it here in this notebook*

#### Load the Dataset
The dataset we will be using is located in the dataset folder included in the project. Verify the data is available by executing the code cell below

In [2]:
import os
dataset_path = "../dataset/Entity Recognition in Resumes.json"
print("Path exists? {}".format(os.path.exists(dataset_path)))

Path exists? True

So far so good? OK then let's load the dataset. The dataset is structured so that each line of text is a resume. 
You will do the following:
1. using python's built-in "open" function, get a filehandle to the dataset (tip don't forget the file is utf8!)
2. load the data into an array of resumes (each text line is one resume) 
3. use the print function to print how many resumes were loaded
4. use the print function to output one of the resumes so we can see how the resumes look in raw text form

In [3]:
## use the "open" function to get a filehandle. 
with open(dataset_path,encoding="utf8") as f:
    ## use the filehandle to read all lines into an array of text lines. 
    all_data= f.readlines()
    ## print how many lines were loaded
    print(len(all_data))
    ## now print one resume/line to see how the resumes look in raw text form
    print("Sample resume:"+all_data[0])
    #TODO print sample resume

701
Sample resume:{"content": "Afreen Jamadar\nActive member of IIIT Committee in Third year\n\nSangli, Maharashtra - Email me on Indeed: indeed.com/r/Afreen-Jamadar/8baf379b705e37c6\n\nI wish to use my knowledge, skills and conceptual understanding to create excellent team\nenvironments and work consistently achieving organization objectives believes in taking initiative\nand work to excellence in my work.\n\nWORK EXPERIENCE\n\nActive member of IIIT Committee in Third year\n\nCisco Networking -  Kanpur, Uttar Pradesh\n\norganized by Techkriti IIT Kanpur and Azure Skynet.\nPERSONALLITY TRAITS:\n• Quick learning ability\n• hard working\n\nEDUCATION\n\nPG-DAC\n\nCDAC ACTS\n\n2017\n\nBachelor of Engg in Information Technology\n\nShivaji University Kolhapur -  Kolhapur, Maharashtra\n\n2016\n\nSKILLS\n\nDatabase (Less than 1 year), HTML (Less than 1 year), Linux. (Less than 1 year), MICROSOFT\nACCESS (Less than 1 year), MICROSOFT WINDOWS (Less than 1 year)\n\nADDITIONAL INFORMATION\n\nTECHNICAL SKILLS:\n\n• Programming Languages: C, C++, Java, .net, php.\n• Web Designing: HTML, XML\n• Operating Systems: Windows […] Windows Server 2003, Linux.\n• Database: MS Access, MS SQL Server 2008, Oracle 10g, MySql.\n\nhttps://www.indeed.com/r/Afreen-Jamadar/8baf379b705e37c6?isid=rex-download&ikw=download-top&co=IN","annotation":[{"label":["Email Address"],"points":[{"start":1155,"end":1198,"text":"indeed.com/r/Afreen-Jamadar/8baf379b705e37c6"}]},{"label":["Links"],"points":[{"start":1143,"end":1239,"text":"https://www.indeed.com/r/Afreen-Jamadar/8baf379b705e37c6?isid=rex-download&ikw=download-top&co=IN"}]},{"label":["Skills"],"points":[{"start":743,"end":1140,"text":"Database (Less than 1 year), HTML (Less than 1 year), Linux. (Less than 1 year), MICROSOFT\nACCESS (Less than 1 year), MICROSOFT WINDOWS (Less than 1 year)\n\nADDITIONAL INFORMATION\n\nTECHNICAL SKILLS:\n\n• Programming Languages: C, C++, Java, .net, php.\n• Web Designing: HTML, XML\n• Operating Systems: Windows […] Windows Server 2003, Linux.\n• Database: MS Access, MS SQL Server 2008, Oracle 10g, MySql."}]},{"label":["Graduation Year"],"points":[{"start":729,"end":732,"text":"2016"}]},{"label":["College Name"],"points":[{"start":675,"end":702,"text":"Shivaji University Kolhapur "}]},{"label":["Degree"],"points":[{"start":631,"end":672,"text":"Bachelor of Engg in Information Technology"}]},{"label":["Graduation Year"],"points":[{"start":625,"end":629,"text":"2017\n"}]},{"label":["College Name"],"points":[{"start":614,"end":622,"text":"CDAC ACTS"}]},{"label":["Degree"],"points":[{"start":606,"end":611,"text":"PG-DAC"}]},{"label":["Companies worked at"],"points":[{"start":438,"end":453,"text":"Cisco Networking"}]},{"label":["Email Address"],"points":[{"start":104,"end":147,"text":"indeed.com/r/Afreen-Jamadar/8baf379b705e37c6"}]},{"label":["Location"],"points":[{"start":62,"end":67,"text":"Sangli"}]},{"label":["Name"],"points":[{"start":0,"end":13,"text":"Afreen Jamadar"}]}],"extras":null,"metadata":{"first_done_at":1527844872000,"last_updated_at":1537724086000,"sec_taken":0,"last_updated_by":"BIQNZm4INNfvByMqkaVwVt6OZTv2","status":"done","evaluation":"CORRECT"}}

#### Convert the dataset to json
As we can see, the resumes are not in a convenient human-readable form, but are json dictionaries. We want to work with the resumes as python dictionaries and not as raw text, so we will convert the resumes from text to dictionaries. We will do the following:
1. Import the json module
2. Loop through all of the text lines and use the json 'loads' function to convert the line to a python dictionary. Tip - you can use a 'for' loop, or if you want to get fancy, a python 'list comprehension' to accomplish this. 
3. Select one of the converted resumes so that we can examine its structure.

In [7]:
## import json module to load json strings
import json
## using a for loop or a list comprehension, cycle through all lines (loaded above) and convert them to dictionaries 
## using json loads function. Make sure all converted resumes are stored in the 'all_resumes' array below  
all_resumes = []
for line in all_data:
    all_resumes.append(json.loads(line))
    

## select one resume to examine from the all_resumes list
resume = all_resumes[1]

##### Explore the resume data structure
You should have one sample resume saved in the "resume" variable. Now we will examine the resume dictionary. Complete the code below to see the keys in the dictionary

In [8]:
## explore keys in cv
print("keys and values in resume:")
## TODO print out the keys and values for the sample resume

for key,val in resume.items():
    print (str(key)+"-----------------------------"+str(val))

keys and values in resume:
content-----------------------------Alok Khandai
Operational Analyst (SQL DBA) Engineer - UNISYS

Bengaluru, Karnataka - Email me on Indeed: indeed.com/r/Alok-Khandai/5be849e443b8f467

❖ Having 3.5 Years of IT experience in SQL Database Administration, System Analysis, Design,
Development & Support of MS SQL Servers in Production, Development environments &
Replication and Cluster Server Environments.
❖ Working Experience with relational database such as SQL.
❖ Experience in Installation, Configuration, Maintenance and Administration of SQL Server.
❖ Experience in upgrading SQL Server.
❖ Good experience with implementing DR solution, High Availability of database servers using
Database mirroring and replications and Log Shipping.
❖ Experience in implementing SQL Server security and Object permissions like maintaining
Database authentication modes, creation of users, configuring permissions and assigning roles
to users.
❖ Experience in creating Jobs, Alerts, SQL Mail Agent
❖ Experience in performing integrity checks. Methods include configuring the database
maintenance plan wizard and DBCC utilities
❖ Experience in using Performance Monitor, SQL Profiler and optimizing the queries, tracing long
running queries and deadlocks.
❖ Experience in applying patches and service packs to keep the database at current patch level.
❖ Ability to manage own work and multitask to meet tight deadlines without losing sight of
priorities..

Willing to relocate to: Bengaluru, Karnataka

WORK EXPERIENCE

Operational Analyst (SQL DBA) Engineer

UNISYS -  Bengaluru, Karnataka -

July 2016 to Present

❖ Having 3.5 Years of IT experience in SQL Database Administration, System Analysis, Design,
Development & Support of MS SQL Servers in Production, Development environments &
Replication and Cluster Server Environments.
❖ Working Experience with relational database such as SQL.
❖ Experience in Installation, Configuration, Maintenance and Administration of SQL Server.
❖ Experience in upgrading SQL Server.
❖ Good experience with implementing DR solution, High Availability of database servers using
Database mirroring and replications and Log Shipping.
❖ Experience in implementing SQL Server security and Object permissions like maintaining
Database authentication modes, creation of users, configuring permissions and assigning roles
to users.

DBA Support Analyst

Microsoft Corporation -  Redmond, WA -

https://www.indeed.com/r/Alok-Khandai/5be849e443b8f467?isid=rex-download&ikw=download-top&co=IN


July 2016 to Present

Client Description:
Microsoft Corporation is an American public multinational corporation headquartered in
Redmond, Washington, USA that develops, manufactures, licenses, and supports a wide range of
products and services predominantly related to computing through its various product divisions.

Environment:
Microsoft has E2E development and production environment of more than 25000 servers and
applications. We are responsible for pro-active monitoring of all the servers and their jobs using
monitoring tools to reduce critical business impact by alerting respective peer teams. Microsoft
Service Enterprise an ITSM tools are used for ticketing and SharePoint portal is used to store all
technical and process documentation.

Roles and Responsibilities:
• Responsible for Database support, troubleshooting, planning and migration. Resource planning
and coordination for application migrations with project managers, application and web app
teams. Project involved guidance and adherence to standardized procedures for planned data
center consolidation for worldwide centers using in-house corporate and third party applications
based on SQL 2000 in upgrade project to SQL 2005.
• Monitoring of database size and disk space in Production, Staging & Development environments
• Performed installation of SQL Enterprise 2005 64bit version on Windows 2003 servers on
Enterprise systems of clustered and standalone servers in enterprise Data Centers. Patch
applications.
• Failover cluster testing and resolution on HP servers as well as monitoring and backup reporting
setup with Microsoft Operations Manager and backup teams.
• Working in Microsoft production environment which includes applications and servers.
• Configured Transactional Replication and Log Shipping with SQL Server Management Studio as
well as basic account management and troubleshooting with connectivity, security and firewall
issues.
• Handling issues related to Server Availability, Performance.
• Performed Production support and on Call duties
• Conducted Performance Tuning using SQL Profiler and Windows Performance Monitor.
• Worked with various business groups while developing their applications, assisting in database
design, installing SQL Server clients, phasing from development to QA and to Production
environment.

Previous Project
❖ Project Title: Finance Support
❖ Client: Costco Wholesale Corporation (USA)
❖ Team size: 22
❖ Role: DBA Support Analyst
❖ Environment: Window 10

(SQL DBA Analyst) Engineer

HCL Technologies -  Bengaluru, Karnataka -

November 2014 to July 2016

〓 Performed server installation and configurations for SQL Server 2005 and SQL Server 2000.



〓 Performed installation of SQL Server Service Packs
〓 Upgraded databases from SQL Server 2000 to SQL Server 2005.
〓 Scheduled Full and Transactional log backups for the user created and system databases in
the production environment using the Database Maintenance Plan Wizard.
〓 Setup backup and restoration jobs for development and QA environments
〓 Created transactional replication for the reporting applications.
〓 Implemented disaster recovery solution at the remote site for the production databases using
Log Shipping.
〓 Used System monitor to find the bottlenecks in CPU, Disk I/O and memory devices and
improved the database server performance.
〓 Used SQL Server Profiler to monitor and record database activities of particular users and
applications.
〓 Used DBCC commands to troubleshoot issues related to database consistency
〓 Worked with various business groups while developing their applications, assisting in database
design, installing SQL Server clients, phasing from development to QA and to Production
environment

Microsoft Corporation -

November 2014 to July 2016

Client Description:

❖ Costco Wholesale Corporation operates an international chain of membership warehouses,
mainly under the "Costco Wholesale" name, that carry quality, brand name merchandise at
substantially lower prices than are typically found at conventional wholesale or retail sources. The
warehouses are designed to help small-to-medium-sized businesses reduce costs in purchasing
for resale and for everyday business use. Individuals may also purchase for their personal needs.

❖ Responsibilities:

➢ Performed server installation and configurations for SQL Server 2005 and SQL Server 2000.
➢ Performed installation of SQL Server Service Packs
➢ Upgraded databases from SQL Server 2000 to SQL Server 2005.
➢ Scheduled Full and Transactional log backups for the user created and system databases in
the production environment using the Database Maintenance Plan Wizard.
➢ Setup backup and restoration jobs for development and QA environments
➢ Created transactional replication for the reporting applications.
➢ Implemented disaster recovery solution at the remote site for the production databases using
Log Shipping.
➢ Used System monitor to find the bottlenecks in CPU, Disk I/O and memory devices and improved
the database server performance.
➢ Used SQL Server Profiler to monitor and record database activities of particular users and
applications.
➢ Used DBCC commands to troubleshoot issues related to database consistency
➢ Worked with various business groups while developing their applications, assisting in database
design, installing SQL Server clients, phasing from development to QA and to Production
environment



EDUCATION

B.Tech in Computer Science and Engineering in CSE

Indira Gandhi Institute Of Technology

2012

SKILLS

Database (3 years), SQL (3 years), Sql Dba

ADDITIONAL INFORMATION

TECHNICAL PROFICIENCY
❖ Operating Environment: […] Windows95/98/XP/NT
❖ Database Tool: SQL Management Studio (MSSQL), Business
Development Studio, Visual studio 2005
❖ Database Language: SQL, PL/SQL
❖ Ticket Tracking Tool: Service Now
❖ Reporting Tools: MS Reporting Services, SAS
❖ Languages: C, C++, PL/SQL
annotation-----------------------------[{'label': ['Skills'], 'points': [{'start': 8098, 'end': 8383, 'text': '❖ Operating Environment: […] Windows95/98/XP/NT\n❖ Database Tool: SQL Management Studio (MSSQL), Business\nDevelopment Studio, Visual studio 2005\n❖ Database Language: SQL, PL/SQL\n❖ Ticket Tracking Tool: Service Now\n❖ Reporting Tools: MS Reporting Services, SAS\n❖ Languages: C, C++, PL/SQL'}]}, {'label': ['Skills'], 'points': [{'start': 8008, 'end': 8049, 'text': 'Database (3 years), SQL (3 years), Sql Dba'}]}, {'label': ['Graduation Year'], 'points': [{'start': 7994, 'end': 7997, 'text': '2012'}]}, {'label': ['College Name'], 'points': [{'start': 7955, 'end': 7991, 'text': 'Indira Gandhi Institute Of Technology'}]}, {'label': ['College Name'], 'points': [{'start': 7904, 'end': 7952, 'text': 'B.Tech in Computer Science and Engineering in CSE'}]}, {'label': ['Companies worked at'], 'points': [{'start': 6199, 'end': 6219, 'text': 'Microsoft Corporation'}]}, {'label': ['Location'], 'points': [{'start': 5016, 'end': 5024, 'text': 'Bengaluru'}]}, {'label': ['Companies worked at'], 'points': [{'start': 4996, 'end': 5011, 'text': 'HCL Technologies'}]}, {'label': ['Designation'], 'points': [{'start': 4969, 'end': 4983, 'text': 'SQL DBA Analyst'}]}, {'label': ['Designation'], 'points': [{'start': 4922, 'end': 4940, 'text': 'DBA Support Analyst'}]}, {'label': ['projects'], 'points': [{'start': 4836, 'end': 4851, 'text': ' Finance Support'}]}, {'label': ['Companies worked at'], 'points': [{'start': 2519, 'end': 2539, 'text': 'Microsoft Corporation'}]}, {'label': ['Email Address'], 'points': [{'start': 2391, 'end': 2432, 'text': 'indeed.com/r/Alok-Khandai/5be849e443b8f467'}]}, {'label': ['Companies worked at'], 'points': [{'start': 2339, 'end': 2359, 'text': 'Microsoft Corporation'}]}, {'label': ['Designation'], 'points': [{'start': 2318, 'end': 2336, 'text': 'DBA Support Analyst'}]}, {'label': ['Skills'], 'points': [{'start': 1607, 'end': 1658, 'text': 'SQL Database Administration, System Analysis, Design'}]}, {'label': ['Years of Experience'], 'points': [{'start': 1577, 'end': 1585, 'text': '3.5 Years'}]}, {'label': ['Location'], 'points': [{'start': 1522, 'end': 1530, 'text': 'Bengaluru'}]}, {'label': ['Companies worked at'], 'points': [{'start': 1512, 'end': 1517, 'text': 'UNISYS'}]}, {'label': ['Designation'], 'points': [{'start': 1472, 'end': 1509, 'text': 'Operational Analyst (SQL DBA) Engineer'}]}, {'label': ['Location'], 'points': [{'start': 1433, 'end': 1441, 'text': 'Bengaluru'}]}, {'label': ['Skills'], 'points': [{'start': 188, 'end': 239, 'text': 'SQL Database Administration, System Analysis, Design'}]}, {'label': ['Email Address'], 'points': [{'start': 105, 'end': 146, 'text': 'indeed.com/r/Alok-Khandai/5be849e443b8f467'}]}, {'label': ['Location'], 'points': [{'start': 62, 'end': 70, 'text': 'Bengaluru'}]}, {'label': ['Companies worked at'], 'points': [{'start': 54, 'end': 59, 'text': 'UNISYS'}]}, {'label': ['Designation'], 'points': [{'start': 13, 'end': 50, 'text': 'Operational Analyst (SQL DBA) Engineer'}]}, {'label': ['Name'], 'points': [{'start': 0, 'end': 11, 'text': 'Alok Khandai'}]}]
extras-----------------------------None
metadata-----------------------------{'first_done_at': 1527845028000, 'last_updated_at': 1538662820000, 'sec_taken': 0, 'last_updated_by': 'BIQNZm4INNfvByMqkaVwVt6OZTv2', 'status': 'done', 'evaluation': 'CORRECT'}

##### Question: which key do you think points to the text content of the resume?
content
##### Question: which key do you think points to the list of entity annotations? 
annotation

Based on your answers above, see if you were right by printing the text content and the entity list by completing and executing the code below

In [9]:
## TODO print the resume text
print(""+str(resume.get("content")))
## TODO print the resume's list of entity annotations
print("resume entity list:"+str(resume.get("annotation")))

Alok Khandai
Operational Analyst (SQL DBA) Engineer - UNISYS

Bengaluru, Karnataka - Email me on Indeed: indeed.com/r/Alok-Khandai/5be849e443b8f467

❖ Having 3.5 Years of IT experience in SQL Database Administration, System Analysis, Design,
Development & Support of MS SQL Servers in Production, Development environments &
Replication and Cluster Server Environments.
❖ Working Experience with relational database such as SQL.
❖ Experience in Installation, Configuration, Maintenance and Administration of SQL Server.
❖ Experience in upgrading SQL Server.
❖ Good experience with implementing DR solution, High Availability of database servers using
Database mirroring and replications and Log Shipping.
❖ Experience in implementing SQL Server security and Object permissions like maintaining
Database authentication modes, creation of users, configuring permissions and assigning roles
to users.
❖ Experience in creating Jobs, Alerts, SQL Mail Agent
❖ Experience in performing integrity checks. Methods include configuring the database
maintenance plan wizard and DBCC utilities
❖ Experience in using Performance Monitor, SQL Profiler and optimizing the queries, tracing long
running queries and deadlocks.
❖ Experience in applying patches and service packs to keep the database at current patch level.
❖ Ability to manage own work and multitask to meet tight deadlines without losing sight of
priorities..

Willing to relocate to: Bengaluru, Karnataka

WORK EXPERIENCE

Operational Analyst (SQL DBA) Engineer

UNISYS -  Bengaluru, Karnataka -

July 2016 to Present

❖ Having 3.5 Years of IT experience in SQL Database Administration, System Analysis, Design,
Development & Support of MS SQL Servers in Production, Development environments &
Replication and Cluster Server Environments.
❖ Working Experience with relational database such as SQL.
❖ Experience in Installation, Configuration, Maintenance and Administration of SQL Server.
❖ Experience in upgrading SQL Server.
❖ Good experience with implementing DR solution, High Availability of database servers using
Database mirroring and replications and Log Shipping.
❖ Experience in implementing SQL Server security and Object permissions like maintaining
Database authentication modes, creation of users, configuring permissions and assigning roles
to users.

DBA Support Analyst

Microsoft Corporation -  Redmond, WA -

https://www.indeed.com/r/Alok-Khandai/5be849e443b8f467?isid=rex-download&ikw=download-top&co=IN


July 2016 to Present

Client Description:
Microsoft Corporation is an American public multinational corporation headquartered in
Redmond, Washington, USA that develops, manufactures, licenses, and supports a wide range of
products and services predominantly related to computing through its various product divisions.

Environment:
Microsoft has E2E development and production environment of more than 25000 servers and
applications. We are responsible for pro-active monitoring of all the servers and their jobs using
monitoring tools to reduce critical business impact by alerting respective peer teams. Microsoft
Service Enterprise an ITSM tools are used for ticketing and SharePoint portal is used to store all
technical and process documentation.

Roles and Responsibilities:
• Responsible for Database support, troubleshooting, planning and migration. Resource planning
and coordination for application migrations with project managers, application and web app
teams. Project involved guidance and adherence to standardized procedures for planned data
center consolidation for worldwide centers using in-house corporate and third party applications
based on SQL 2000 in upgrade project to SQL 2005.
• Monitoring of database size and disk space in Production, Staging & Development environments
• Performed installation of SQL Enterprise 2005 64bit version on Windows 2003 servers on
Enterprise systems of clustered and standalone servers in enterprise Data Centers. Patch
applications.
• Failover cluster testing and resolution on HP servers as well as monitoring and backup reporting
setup with Microsoft Operations Manager and backup teams.
• Working in Microsoft production environment which includes applications and servers.
• Configured Transactional Replication and Log Shipping with SQL Server Management Studio as
well as basic account management and troubleshooting with connectivity, security and firewall
issues.
• Handling issues related to Server Availability, Performance.
• Performed Production support and on Call duties
• Conducted Performance Tuning using SQL Profiler and Windows Performance Monitor.
• Worked with various business groups while developing their applications, assisting in database
design, installing SQL Server clients, phasing from development to QA and to Production
environment.

Previous Project
❖ Project Title: Finance Support
❖ Client: Costco Wholesale Corporation (USA)
❖ Team size: 22
❖ Role: DBA Support Analyst
❖ Environment: Window 10

(SQL DBA Analyst) Engineer

HCL Technologies -  Bengaluru, Karnataka -

November 2014 to July 2016

〓 Performed server installation and configurations for SQL Server 2005 and SQL Server 2000.



〓 Performed installation of SQL Server Service Packs
〓 Upgraded databases from SQL Server 2000 to SQL Server 2005.
〓 Scheduled Full and Transactional log backups for the user created and system databases in
the production environment using the Database Maintenance Plan Wizard.
〓 Setup backup and restoration jobs for development and QA environments
〓 Created transactional replication for the reporting applications.
〓 Implemented disaster recovery solution at the remote site for the production databases using
Log Shipping.
〓 Used System monitor to find the bottlenecks in CPU, Disk I/O and memory devices and
improved the database server performance.
〓 Used SQL Server Profiler to monitor and record database activities of particular users and
applications.
〓 Used DBCC commands to troubleshoot issues related to database consistency
〓 Worked with various business groups while developing their applications, assisting in database
design, installing SQL Server clients, phasing from development to QA and to Production
environment

Microsoft Corporation -

November 2014 to July 2016

Client Description:

❖ Costco Wholesale Corporation operates an international chain of membership warehouses,
mainly under the "Costco Wholesale" name, that carry quality, brand name merchandise at
substantially lower prices than are typically found at conventional wholesale or retail sources. The
warehouses are designed to help small-to-medium-sized businesses reduce costs in purchasing
for resale and for everyday business use. Individuals may also purchase for their personal needs.

❖ Responsibilities:

➢ Performed server installation and configurations for SQL Server 2005 and SQL Server 2000.
➢ Performed installation of SQL Server Service Packs
➢ Upgraded databases from SQL Server 2000 to SQL Server 2005.
➢ Scheduled Full and Transactional log backups for the user created and system databases in
the production environment using the Database Maintenance Plan Wizard.
➢ Setup backup and restoration jobs for development and QA environments
➢ Created transactional replication for the reporting applications.
➢ Implemented disaster recovery solution at the remote site for the production databases using
Log Shipping.
➢ Used System monitor to find the bottlenecks in CPU, Disk I/O and memory devices and improved
the database server performance.
➢ Used SQL Server Profiler to monitor and record database activities of particular users and
applications.
➢ Used DBCC commands to troubleshoot issues related to database consistency
➢ Worked with various business groups while developing their applications, assisting in database
design, installing SQL Server clients, phasing from development to QA and to Production
environment



EDUCATION

B.Tech in Computer Science and Engineering in CSE

Indira Gandhi Institute Of Technology

2012

SKILLS

Database (3 years), SQL (3 years), Sql Dba

ADDITIONAL INFORMATION

TECHNICAL PROFICIENCY
❖ Operating Environment: […] Windows95/98/XP/NT
❖ Database Tool: SQL Management Studio (MSSQL), Business
Development Studio, Visual studio 2005
❖ Database Language: SQL, PL/SQL
❖ Ticket Tracking Tool: Service Now
❖ Reporting Tools: MS Reporting Services, SAS
❖ Languages: C, C++, PL/SQL
resume entity list:[{'label': ['Skills'], 'points': [{'start': 8098, 'end': 8383, 'text': '❖ Operating Environment: […] Windows95/98/XP/NT\n❖ Database Tool: SQL Management Studio (MSSQL), Business\nDevelopment Studio, Visual studio 2005\n❖ Database Language: SQL, PL/SQL\n❖ Ticket Tracking Tool: Service Now\n❖ Reporting Tools: MS Reporting Services, SAS\n❖ Languages: C, C++, PL/SQL'}]}, {'label': ['Skills'], 'points': [{'start': 8008, 'end': 8049, 'text': 'Database (3 years), SQL (3 years), Sql Dba'}]}, {'label': ['Graduation Year'], 'points': [{'start': 7994, 'end': 7997, 'text': '2012'}]}, {'label': ['College Name'], 'points': [{'start': 7955, 'end': 7991, 'text': 'Indira Gandhi Institute Of Technology'}]}, {'label': ['College Name'], 'points': [{'start': 7904, 'end': 7952, 'text': 'B.Tech in Computer Science and Engineering in CSE'}]}, {'label': ['Companies worked at'], 'points': [{'start': 6199, 'end': 6219, 'text': 'Microsoft Corporation'}]}, {'label': ['Location'], 'points': [{'start': 5016, 'end': 5024, 'text': 'Bengaluru'}]}, {'label': ['Companies worked at'], 'points': [{'start': 4996, 'end': 5011, 'text': 'HCL Technologies'}]}, {'label': ['Designation'], 'points': [{'start': 4969, 'end': 4983, 'text': 'SQL DBA Analyst'}]}, {'label': ['Designation'], 'points': [{'start': 4922, 'end': 4940, 'text': 'DBA Support Analyst'}]}, {'label': ['projects'], 'points': [{'start': 4836, 'end': 4851, 'text': ' Finance Support'}]}, {'label': ['Companies worked at'], 'points': [{'start': 2519, 'end': 2539, 'text': 'Microsoft Corporation'}]}, {'label': ['Email Address'], 'points': [{'start': 2391, 'end': 2432, 'text': 'indeed.com/r/Alok-Khandai/5be849e443b8f467'}]}, {'label': ['Companies worked at'], 'points': [{'start': 2339, 'end': 2359, 'text': 'Microsoft Corporation'}]}, {'label': ['Designation'], 'points': [{'start': 2318, 'end': 2336, 'text': 'DBA Support Analyst'}]}, {'label': ['Skills'], 'points': [{'start': 1607, 'end': 1658, 'text': 'SQL Database Administration, System Analysis, Design'}]}, {'label': ['Years of Experience'], 'points': [{'start': 1577, 'end': 1585, 'text': '3.5 Years'}]}, {'label': ['Location'], 'points': [{'start': 1522, 'end': 1530, 'text': 'Bengaluru'}]}, {'label': ['Companies worked at'], 'points': [{'start': 1512, 'end': 1517, 'text': 'UNISYS'}]}, {'label': ['Designation'], 'points': [{'start': 1472, 'end': 1509, 'text': 'Operational Analyst (SQL DBA) Engineer'}]}, {'label': ['Location'], 'points': [{'start': 1433, 'end': 1441, 'text': 'Bengaluru'}]}, {'label': ['Skills'], 'points': [{'start': 188, 'end': 239, 'text': 'SQL Database Administration, System Analysis, Design'}]}, {'label': ['Email Address'], 'points': [{'start': 105, 'end': 146, 'text': 'indeed.com/r/Alok-Khandai/5be849e443b8f467'}]}, {'label': ['Location'], 'points': [{'start': 62, 'end': 70, 'text': 'Bengaluru'}]}, {'label': ['Companies worked at'], 'points': [{'start': 54, 'end': 59, 'text': 'UNISYS'}]}, {'label': ['Designation'], 'points': [{'start': 13, 'end': 50, 'text': 'Operational Analyst (SQL DBA) Engineer'}]}, {'label': ['Name'], 'points': [{'start': 0, 'end': 11, 'text': 'Alok Khandai'}]}]

##### Explore the list of entity labels
The entity list is a list of dictionaries, we want to explore this list
1. Cycle through the entities in the list. You can use a 'for' loop for this
2. For each entity - which will be a dictionary - print out each key and each value for the key

In [6]:
## explore entity list
entity = resume.get("annotation")

##TODO print out each key and each value for each entity in the entities list
for e in entity:
    for key,val in e.items():
        print (str(key)+"-----------------------------"+str(val))

label-----------------------------['Email Address']
points-----------------------------[{'start': 1155, 'end': 1198, 'text': 'indeed.com/r/Afreen-Jamadar/8baf379b705e37c6'}]
label-----------------------------['Links']
points-----------------------------[{'start': 1143, 'end': 1239, 'text': 'https://www.indeed.com/r/Afreen-Jamadar/8baf379b705e37c6?isid=rex-download&ikw=download-top&co=IN'}]
label-----------------------------['Skills']
points-----------------------------[{'start': 743, 'end': 1140, 'text': 'Database (Less than 1 year), HTML (Less than 1 year), Linux. (Less than 1 year), MICROSOFT\nACCESS (Less than 1 year), MICROSOFT WINDOWS (Less than 1 year)\n\nADDITIONAL INFORMATION\n\nTECHNICAL SKILLS:\n\n• Programming Languages: C, C++, Java, .net, php.\n• Web Designing: HTML, XML\n• Operating Systems: Windows […] Windows Server 2003, Linux.\n• Database: MS Access, MS SQL Server 2008, Oracle 10g, MySql.'}]
label-----------------------------['Graduation Year']
points-----------------------------[{'start': 729, 'end': 732, 'text': '2016'}]
label-----------------------------['College Name']
points-----------------------------[{'start': 675, 'end': 702, 'text': 'Shivaji University Kolhapur '}]
label-----------------------------['Degree']
points-----------------------------[{'start': 631, 'end': 672, 'text': 'Bachelor of Engg in Information Technology'}]
label-----------------------------['Graduation Year']
points-----------------------------[{'start': 625, 'end': 629, 'text': '2017\n'}]
label-----------------------------['College Name']
points-----------------------------[{'start': 614, 'end': 622, 'text': 'CDAC ACTS'}]
label-----------------------------['Degree']
points-----------------------------[{'start': 606, 'end': 611, 'text': 'PG-DAC'}]
label-----------------------------['Companies worked at']
points-----------------------------[{'start': 438, 'end': 453, 'text': 'Cisco Networking'}]
label-----------------------------['Email Address']
points-----------------------------[{'start': 104, 'end': 147, 'text': 'indeed.com/r/Afreen-Jamadar/8baf379b705e37c6'}]
label-----------------------------['Location']
points-----------------------------[{'start': 62, 'end': 67, 'text': 'Sangli'}]
label-----------------------------['Name']
points-----------------------------[{'start': 0, 'end': 13, 'text': 'Afreen Jamadar'}]

##### Question: What keys do the entity entries have? What is the datatype of the values of these keys?
label & points --> Datatypes: keys always string and values always lists
##### Question: What do these keys and values mean? (think of their significance as entity labels)
labels are headlines & points are where to put the text and the text

##### Convert  data to "spacy" offset format
Before we go any further, we need to convert the data into a slightly more compact format. This format is the format we will be using to train our first models in the next part of the challenge. Here we will do the following:
1. Use the provided data conversion function
2. Convert the data with that function, storing the results in a variable
3. Inspect the converted data

In [7]:
## data conversion method
def convert_data(data):
    """
    Creates NER training data in Spacy format from JSON dataset
    Outputs the Spacy training data which can be used for Spacy training.
    """
    text = data['content']
    entities = []
    if data['annotation'] is not None:
        for annotation in data['annotation']:
            # only a single point in text annotation.
            point = annotation['points'][0]
            labels = annotation['label']
            # handle both list of labels or a single label.
            if not isinstance(labels, list):
                labels = [labels]
            for label in labels:
                # dataturks indices are both inclusive [start, end] but spacy is not [start, end)
                entities.append((point['start'], point['end'] + 1, label))
    return (text, {"entities": entities})
   
## TODO using a loop or list comprehension, convert each resume in all_resumes using the convert function above, storing the result
converted_resumes = [convert_data(resume) for resume in all_resumes]
## TODO print the number of resumes in converted resumes 
print(len(converted_resumes))
from pprint import pprint
pprint (converted_resumes[0])

701
('Afreen Jamadar\n'
 'Active member of IIIT Committee in Third year\n'
 '\n'
 'Sangli, Maharashtra - Email me on Indeed: '
 'indeed.com/r/Afreen-Jamadar/8baf379b705e37c6\n'
 '\n'
 'I wish to use my knowledge, skills and conceptual understanding to create '
 'excellent team\n'
 'environments and work consistently achieving organization objectives '
 'believes in taking initiative\n'
 'and work to excellence in my work.\n'
 '\n'
 'WORK EXPERIENCE\n'
 '\n'
 'Active member of IIIT Committee in Third year\n'
 '\n'
 'Cisco Networking -  Kanpur, Uttar Pradesh\n'
 '\n'
 'organized by Techkriti IIT Kanpur and Azure Skynet.\n'
 'PERSONALLITY TRAITS:\n'
 '• Quick learning ability\n'
 '• hard working\n'
 '\n'
 'EDUCATION\n'
 '\n'
 'PG-DAC\n'
 '\n'
 'CDAC ACTS\n'
 '\n'
 '2017\n'
 '\n'
 'Bachelor of Engg in Information Technology\n'
 '\n'
 'Shivaji University Kolhapur -  Kolhapur, Maharashtra\n'
 '\n'
 '2016\n'
 '\n'
 'SKILLS\n'
 '\n'
 'Database (Less than 1 year), HTML (Less than 1 year), Linux. (Less than 1 '
 'year), MICROSOFT\n'
 'ACCESS (Less than 1 year), MICROSOFT WINDOWS (Less than 1 year)\n'
 '\n'
 'ADDITIONAL INFORMATION\n'
 '\n'
 'TECHNICAL SKILLS:\n'
 '\n'
 '• Programming Languages: C, C++, Java, .net, php.\n'
 '• Web Designing: HTML, XML\n'
 '• Operating Systems: Windows […] Windows Server 2003, Linux.\n'
 '• Database: MS Access, MS SQL Server 2008, Oracle 10g, MySql.\n'
 '\n'
 'https://www.indeed.com/r/Afreen-Jamadar/8baf379b705e37c6?isid=rex-download&ikw=download-top&co=IN',
 {'entities': [(1155, 1199, 'Email Address'),
               (1143, 1240, 'Links'),
               (743, 1141, 'Skills'),
               (729, 733, 'Graduation Year'),
               (675, 703, 'College Name'),
               (631, 673, 'Degree'),
               (625, 630, 'Graduation Year'),
               (614, 623, 'College Name'),
               (606, 612, 'Degree'),
               (438, 454, 'Companies worked at'),
               (104, 148, 'Email Address'),
               (62, 68, 'Location'),
               (0, 14, 'Name')]})

##### Question: how is the converted data different than the original data? How is it the same? 
Same overall structure of resumes, resume content stored differently

##### filter out resumes without annotations
A few of the resumes have an empty entity list. We want to filter these resumes out of our data before continuing. We will do the following:
1. cycle through all resumes using for loop or list comprehension
2. for each resume, if the resume has no labled entities, ignore it. Otherwise save it to new resume list

In [8]:
## TODO filter out resumes where resume entities list is None (you can do this in a one-line list comprehension)
## sove to converted_resumes variable
converted_resumes = [resume for resume in converted_resumes if len(resume[1]['entities'])>0 ]
## TODO print length of new filtered converted_resumes.  
print(len(converted_resumes))

690

##### Print all entities for one converted resume
The converted data also has an entity list. You should be able to examine this using similar techniques we have used above on the converted data. In the next code block you will write code that will print all of the entities for one resume. TIP each entity entry in the 'entities' list consists of a start index of the entity in the resume text, an end index, and the entity label. We will do the following:
1. Store one converted resume in the 'converted_resume' variable
2. Find the entity list in the converted_resume
3. Cycle through the entities, and - using the start and end index - print the label of the entity and the value of the entity. This will be the text substring pointed to by the start and end index

In [9]:
## store one resume in the variable
converted_resume = converted_resumes [0]
## find text content and store in variable
text = converted_resume [0]
## find the entities list and store in variable
entities_list = None
## TODO for each entity, print the label, and the text (text content substring pointed to by start and end index)
print(text)

Afreen Jamadar
Active member of IIIT Committee in Third year

Sangli, Maharashtra - Email me on Indeed: indeed.com/r/Afreen-Jamadar/8baf379b705e37c6

I wish to use my knowledge, skills and conceptual understanding to create excellent team
environments and work consistently achieving organization objectives believes in taking initiative
and work to excellence in my work.

WORK EXPERIENCE

Active member of IIIT Committee in Third year

Cisco Networking -  Kanpur, Uttar Pradesh

organized by Techkriti IIT Kanpur and Azure Skynet.
PERSONALLITY TRAITS:
• Quick learning ability
• hard working

EDUCATION

PG-DAC

CDAC ACTS

2017

Bachelor of Engg in Information Technology

Shivaji University Kolhapur -  Kolhapur, Maharashtra

2016

SKILLS

Database (Less than 1 year), HTML (Less than 1 year), Linux. (Less than 1 year), MICROSOFT
ACCESS (Less than 1 year), MICROSOFT WINDOWS (Less than 1 year)

ADDITIONAL INFORMATION

TECHNICAL SKILLS:

• Programming Languages: C, C++, Java, .net, php.
• Web Designing: HTML, XML
• Operating Systems: Windows […] Windows Server 2003, Linux.
• Database: MS Access, MS SQL Server 2008, Oracle 10g, MySql.

https://www.indeed.com/r/Afreen-Jamadar/8baf379b705e37c6?isid=rex-download&ikw=download-top&co=IN

##### Question: What are some of the entity labels you see? Are there any entity values that seem surprising or particularly interesting? 
*Answer here*

##### Collect unique labels of all entities in dataset
Now we are interested in finding out all of the (unique) entity labels which exist in our dataset. Complete and execute the code below to do this.

In [10]:
## collect names of all entities in complete resume dataset
all_labels = list()
for res in converted_resumes:
    ## entity list of res
    entity_list = [label[2] for label in res[1] ['entities']] 

    ## TODO extend all_labels with labels of entities 
    all_labels.extend(entity_list)
    ##all_labels.           
## TODO all_labels is not yet unique. Make the list a set of unique values
unique_labels = list(set(all_labels))
## Print unique entity labels
print("Entity labels: ",unique_labels)

Entity labels:  ['links', 'Email Address', 'College Name', 'Relocate to', 'Certifications', 'projects', 'Companies worked at', 'Degree', 'Location', 'Rewards and Achievements', 'des', 'training', 'Links', 'UNKNOWN', 'Can Relocate to', 'College', 'abc', 'Years of Experience', 'Skills', 'Address', 'University', 'Designation', 'state', 'Graduation Year', 'Name']

Now we see all entity labels in our dataset. Do some of them seem particularly interesting to you?

Choose up to 3 Entities from the list that you would like to use for training a named entity recognition model. 
##### Question: which entities did you choose? 
Certification, Skills, University

##### Validate entities
Now we need to check that there is adequate training data for the entities you have chosen.

In [11]:
## TODO store entity label names for the entities you want to work with in an array 
chosen_entity_label = ['Companies worked at', 'Degree', 'University', 'Designation', 'Can Relocate to', 'Relocate to', 'Years of Experience', 'Location', 'Rewards and Achievements', 'state', 'College Name', 'training', 'Graduation Year', 'projects', 'Certifications', 'College', 'Skills']
## for each chosen entity label, count how many documents have a labeled entity for that label, and how many labeled entities total there are 

## for that entity
for chosen in chosen_entity_label:
    found_docs_with_entity = 0
    entity_count = 0
    for resume in converted_resumes:
        entity_list = resume[1]["entities"]
        _,_,labels = zip(*entity_list)
        if chosen in labels:
            found_docs_with_entity+=1
            entity_count+=len([l for l in labels if l == chosen])
    print(chosen)
    print("Docs with {}: {}".format(chosen,found_docs_with_entity))
    print("Total count of {}: {}".format(chosen,entity_count))

Companies worked at
Docs with Companies worked at: 627
Total count of Companies worked at: 2830
Degree
Docs with Degree: 606
Total count of Degree: 1012
University
Docs with University: 16
Total count of University: 18
Designation
Docs with Designation: 650
Total count of Designation: 2842
Can Relocate to
Docs with Can Relocate to: 65
Total count of Can Relocate to: 128
Relocate to
Docs with Relocate to: 5
Total count of Relocate to: 10
Years of Experience
Docs with Years of Experience: 217
Total count of Years of Experience: 623
Location
Docs with Location: 641
Total count of Location: 1976
Rewards and Achievements
Docs with Rewards and Achievements: 13
Total count of Rewards and Achievements: 25
state
Docs with state: 5
Total count of state: 11
College Name
Docs with College Name: 497
Total count of College Name: 1160
training
Docs with training: 1
Total count of training: 1
Graduation Year
Docs with Graduation Year: 255
Total count of Graduation Year: 566
abc
Docs with abc: 1
Total count of abc: 1
projects
Docs with projects: 9
Total count of projects: 10
Certifications
Docs with Certifications: 7
Total count of Certifications: 7
College
Docs with College: 88
Total count of College: 148
Skills
Docs with Skills: 536
Total count of Skills: 2152

#####  Question: Is adequate training data available for the entities you have chosen? (there should be at least several hundered examples total of each entity)
Only "Skills" has sufficient data, so I switched to Skills, Location, Degree

##### Save converted data for later use
We are almost done with the first part of the challenge! One more detail. We need to save the "converted_resumes" list so we can load it in the next notebook. We will do the following:
1. Store the location we want to save the data to in the 'converted_resumes_path' variable
2. Using python's 'open' function and the 'json' module's 'dump' function, save the data to disk. Make sure to create missing directories (if applicable) using python's "os.makedirs" function. Save the file with a ".json" file extension
3. Check the filesystem if the file exists and is complete

In [12]:
converted_resumes_path = "../dataset/converted_resumes.json"
##TODO save converted resumes to path using "open" and json's "dump" function. 
with open(converted_resumes_path, 'w') as outfile:
    json.dump(converted_resumes, outfile)

### Congratulations!
We are done with part one. Now we will go on to train our own NER Models with the dataset and the entities we have chosen.